* {
  font-family: Helvetica;
  color: #111;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  height: 100vh;
  width: 100vw; }

.flex-center, body {
  display: flex;
  justify-content: center;
  align-items: center; }

.card {
  height: 210px;
  width: 500px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: flex;
  overflow: hidden; }

.image-wrapper {
  width: 140px;
  background-image: url(https://goo.gl/xjdrMw);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .image-wrapper svg {
    fill: #E6E6E6;
    transform: scale(0.8);
    margin: 6px;
    transition: all .4s ease;
    cursor: pointer; }
    .image-wrapper svg:hover {
      fill: #FFF; }

.text-wrapper {
  width: 360px;
  padding: 17px; }

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px; }
  header h3 {
    font-size: 18px; }

.icon-wrapper a i {
  color: #999;
  transition: all .4s ease; }
  .icon-wrapper a i:first-child {
    margin-right: 10px; }
  .icon-wrapper a i:hover {
    color: #111; }

.paragraph-wrapper {
  height: 110px;
  display: flex;
  align-items: center; }
  .paragraph-wrapper p {
    line-height: 25px;
    width: 330px;
    font-size: 15px; }

.link {
  color: #999;
  transition: all .4s ease; }
  .link:hover {
    color: #111; }

.credit {
  background-color: #F5F5F5;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  display: flex;
  height: 47px;
  align-items: center;
  font-size: 15px;
  justify-content: space-around; }

.copy-btn {
  background: #FFF;
  border: 1px solid #E0E0E0;
  padding: 5px 10px;
  border-radius: 4px;
  color: #999;
  cursor: pointer;
  transition: all .4s ease; }
  .copy-btn:hover {
    color: #111;
    border: 1px solid #111; }
